
/*
* { outline: 1px solid red; }
*/

* {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f0f0ab;
}

.home {
    display: flex;
    flex-wrap: wrap;

}
header, section {
    width: auto;
    margin: 0 auto;
    min-width: 250px;
    margin-bottom: 0px;
}

header {
    display: flex; 
}

img {
    margin-right: 16px;
}
fieldset {
    background-color: aliceblue;
}

legend {
    background-color: #f3f38f;
}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%; 

}

@media screen and (max-width:800px) {
    .menu-navegacion {
        width: 50vw;
    }
    .info {
       width: 80%; 
    }
}